{:paths ["src" "resources"]
 :deps {markdown-clj/markdown-clj {:mvn/version "1.12.3"}}
 :pods {org.babashka/fswatcher {:version "0.0.5"}}
 :tasks {serve {:requires [clojure-camp-site.serve]
                :task (clojure-camp-site.serve/serve!)}
         build {:requires [clojure-camp-site.build]
                :task (clojure-camp-site.build/build!)}
         watch {:requires ([pod.babashka.fswatcher :as fw]
                           [babashka.fs :as fs]
                           [clojure-camp-site.build]
                           [clojure-camp-site.serve])
                :task (do
                        (println "Watching...")
                        (doseq [dir ["src" "resources"]]
                          (fw/watch dir
                                    (fn [event]
                                      (println "Rebuilding...")
                                      ;; reload all files
                                      (->> (fs/glob "src" "**.clj")
                                           (map (fn [f]
                                                  (load-file (.toString f))))
                                           doall)
                                      (clojure-camp-site.build/build!))
                                    {:recursive true
                                     :delay-ms 250}))
                        (clojure-camp-site.serve/serve!))}}}
