{:paths ["src" "resources"]
 :deps {markdown-clj/markdown-clj {:mvn/version "1.12.3"}}
 :tasks {serve {:requires [clojure-camp-site.serve]
                :task (clojure-camp-site.serve/serve!)}
         build {:requires [clojure-camp-site.build]
                :task (clojure-camp-site.build/build!)}}}
