{:paths ["src"]
 :deps {org.babashka/http-server {:mvn/version "0.1.13"}
        org.babashka/cli {:mvn/version "0.2.23"}}
 :tasks {start {:requires [clojure-camp-site.run]
                :task (clojure-camp-site.run/serve)}
         build {:requires [clojure-camp-site.run]
                :task (clojure-camp-site.run/build!)}}}